<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "head/resource-hints" . }}{{ partial "head/resource-hints.html" . }}{{ end }}
  {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}
  {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }}
  {{ block "head/favicons" . }}{{ partial "head/favicons.html" . }}{{ end }}
  {{ block "head/script-header" . }}{{ partial "head/script-header.html" . }}{{ end }}
  <!-- Scripts --> 
  <script type="text/javascript">
    if (typeof jQuery == 'undefined')
      document.write(unescape("%3Cscript src='js/jquery-1.9.js'" + 
                                "type='text/javascript'%3E%3C/script%3E"))
  </script>
  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" language="javascript" src="/js/trunk.js"></script>
</head>
