<div class="card_container mw8 center bg-grey-1">

  {{ range first 1 (where .Site.Pages "Params.projtype" "method") }}

  <h3 class="f3 b lh-title mb1">Method</h3>
  <ul class="mhn1-ns card_container--wroc-project">
    <li class="card--wroc-project">
      <div class="img">
        <img src="{{ .Params.image }}" alt="" />
      </div>
      <h3><a href="{{ .Params.ext_url }}" target="_blank" rel="noopener">{{ .Params.title }}</a></h3>
      <p>
        <strong>Contributors</strong>: {{ .Params.contributors }}
      </p>
      <p>
        <strong>Description</strong>: {{ .Params.description }}
      </p>
      {{ if .Params.tags }}
        <p class="proj-tags"><strong>tags</strong>:
          {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
      {{ if .Params.fields }}
        <p class="proj-tags"><strong>fields</strong>:
          {{ range (.GetTerms "fields") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
    </li>
    {{ range after 1 (where .Site.Pages "Params.projtype" "method") }}
    <li class="card--wroc-project">
      <div class="img">
        <img src="{{ .Params.image }}" alt="" />
      </div>
      <h3><a href="{{ .Params.ext_url }}" target="_blank" rel="noopener">{{ .Params.title }}</a></h3>
      <p>
        <strong>Contributors</strong>: {{ .Params.contributors }}
      </p>
      <p>
        <strong>Description</strong>: {{ .Params.description }}
      </p>
      {{ if .Params.tags }}
        <p class="proj-tags"><strong>tags</strong>:
          {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
      {{ if .Params.fields }}
        <p class="proj-tags"><strong>fields</strong>:
          {{ range (.GetTerms "fields") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
    </li>
    {{ end }}
  </ul>
    
  {{ end }}
  
  {{ range first 1 (where .Site.Pages "Params.projtype" "analytics") }}

  <h3 class="f3 b lh-title mb1">Analytics</h3>
  <ul class="mhn1-ns card_container--wroc-project">
    <li class="card--wroc-project">
      <div class="img">
        <img src="{{ .Params.image }}" alt="" />
      </div>
      <h3><a href="{{ .Params.ext_url }}" target="_blank" rel="noopener">{{ .Params.title }}</a></h3>
      <p>
        <strong>Contributors</strong>: {{ .Params.contributors }}
      </p>
      <p>
        <strong>Description</strong>: {{ .Params.description }}
      </p>
      {{ if .Params.tags }}
        <p class="proj-tags"><strong>tags</strong>:
          {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
      {{ if .Params.fields }}
        <p class="proj-tags"><strong>fields</strong>:
          {{ range (.GetTerms "fields") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
    </li>
    {{ range after 1 (where .Site.Pages "Params.projtype" "analytics") }}
    <li class="card--wroc-project">
      <div class="img">
        <img src="{{ .Params.image }}" alt="" />
      </div>
      <h3><a href="{{ .Params.ext_url }}" target="_blank" rel="noopener">{{ .Params.title }}</a></h3>
      <p>
        <strong>Contributors</strong>: {{ .Params.contributors }}
      </p>
      <p>
        <strong>Description</strong>: {{ .Params.description }}
      </p>
      {{ if .Params.tags }}
        <p class="proj-tags"><strong>tags</strong>:
          {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
      {{ if .Params.fields }}
        <p class="proj-tags"><strong>fields</strong>:
          {{ range (.GetTerms "fields") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
    </li>
    {{ end }}
  </ul>
    
  {{ end }}

  {{ range first 1 (where .Site.Pages "Params.projtype" "dashboard") }}

  <h3 class="f3 b lh-title mb1">Dashboards</h3>
  <ul class="mhn1-ns card_container--wroc-project">
    <li class="card--wroc-project">
      <div class="img">
        <img src="{{ .Params.image }}" alt="" />
      </div>
      <h3><a href="{{ .Params.ext_url }}" target="_blank" rel="noopener">{{ .Params.title }}</a></h3>
      <p>
        <strong>Contributors</strong>: {{ .Params.contributors }}
      </p>
      <p>
        <strong>Description</strong>: {{ .Params.description }}
      </p>
      {{ if .Params.tags }}
        <p class="proj-tags"><strong>tags</strong>:
          {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
      {{ if .Params.fields }}
        <p class="proj-tags"><strong>fields</strong>:
          {{ range (.GetTerms "fields") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
    </li>
    {{ range after 1 (where .Site.Pages "Params.projtype" "dashboard") }}
    <li class="card--wroc-project">
      <div class="img">
        <img src="{{ .Params.image }}" alt="" />
      </div>
      <h3><a href="{{ .Params.ext_url }}" target="_blank" rel="noopener">{{ .Params.title }}</a></h3>
      <p>
        <strong>Contributors</strong>: {{ .Params.contributors }}
      </p>
      <p>
        <strong>Description</strong>: {{ .Params.description }}
      </p>
      {{ if .Params.tags }}
        <p class="proj-tags"><strong>tags</strong>:
          {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
      {{ if .Params.fields }}
        <p class="proj-tags"><strong>fields</strong>:
          {{ range (.GetTerms "fields") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      {{ end }}
    </li>
    {{ end }}
  </ul>
    
  {{ end }}

</div>
