<div class="card_container">
  <h3 class="f3 b lh-title mb1">Mentor List</h3>
  <div class="card_container--mentors">
    {{ range .Params.mentor_list }}
    <div class="card--mentors flex">
      <div class="mentor__profile_image">
        <img src="{{.imageUrl}}"
             alt="{{.alttext}}" />
      </div>
      <div class="mentor__bio">
        <h4>{{ .heading  }}</h4>
        <p>{{ .bio }}</p>
        {{if .status }}
          <p>Status: {{ .status  }}!</p>
          <p>Please contact at {{ .contact }}</p>
        {{end}}
      </div>
    </div>
    {{ end }}
  </div>
</div>