.header__logo {
  display: flex;
  align-items: center;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navbar-text {
  margin-left: 1rem;
}

@include media-breakpoint-down(sm) {
  .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@include media-breakpoint-up(md) {
  .navbar-brand {
    font-size: $font-size-xl;
  }

  .navbar-text {
    margin-left: 1.25rem;
  }
}

h1.logo_text {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 0 0 15px;
  text-transform: uppercase;
  letter-spacing: .062rem;
}
h1.logo_text a {
  text-decoration: none;
  color: #fe4300;
  transition: 0.3s;
}
@media screen and (max-width: 610px) {
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: inherit;
    white-space: inherit;
  }
  .header__logo {
    justify-content: center;
    background: #fe4b16;
    width: 100%;
    margin: auto;
    padding: 0;
  }
  h1.logo_text {
    padding: 0;
    // width: 100%;
  }
  h1.logo_text a:hover {
    color: white;
    transition: 0.3s;
  }
}


// TOP NAV

.main_menu_container {
	overflow: hidden;
/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.nav__header {
	height: 60px;
	position: relative;
	background-color: black;
}

.burger {
	padding: 10px;
	
	display: none;
}
.burger li {
	width: 30px;
	height: 4px;
	background-color: #fff;
	border-radius: 3px;
	margin: 5px 0;
}
.burger.open li {background-color: #d9dde1;}

.nav__main_menu {
	position: absolute;
	top: 0;
	right: 5px;
}
.nav__main_menu li {
	float: left;
	display: inline-block;
}
.nav__main_menu li a {
  text-transform: uppercase;
	color: white;	
	display: block;
}
.nav__main_menu li a:hover {
  color: #fe4300;
	background-color: #fff;
  text-decoration: none;
  transition: 0.3s;
}


@media only screen and (max-width: 780px) {

.nav__header {
  display: flex;
  align-items: center;
	height: 60px;
	z-index: 3;
	background-color: black;
	
		/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.nav__header h1 {
	padding-left: 0;
}
#navToggle {
  margin: 0;
}
a.navbar-brand {
  text-align: center;
}

.burger {display: block;}
.burger li {
  list-style-type: none;
}


/*  Nav Drawer Layout  */
.nav__main_menu {position: relative;}

.nav__main_menu ul {
	height: 100%;
	overflow-y: auto;
}
.nav__main_menu li {
	display: block;
	float: none;
}
.nav__main_menu li a {
	padding: 22px 25px;
  text-transform: uppercase;
  transition: 0.3s;
}
.nav__main_menu li a.logo {
	display: none;
}
.nav__main_menu li a.active {
	// color: #fff;
	// background-color: #141e23;
}
.nav__main_menu li a:hover {
	color: #fe4300;
	background-color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.header-section {margin-top: 60px;}


/* NAVIGATION ANNIMATION */
.nav__main_menu {
	width: 240px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	background-color: #272822;;
	
	/* starting point */
	opacity: 0;
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-moz-transform: translate3d(5%,0,0)scale(.97);
	transform: translate3d(5%,0,0)scale(.97);
}

/*Nav Expanding Open Effect*/
.nav__main_menu.open {
  z-index: 3;
	opacity: 1;

	-webkit-transform: translate3d(0,0,0)scale(1);
	-webkit-animation: slideIn .35s ease-in-out;
	
	-moz-transform: translate3d(0,0,0)scale(1);
	-moz-animation: slideIn .35s ease-in-out;
	
	transform: translate3d(0,0,0)scale(1);
	animation: slideIn .35s ease-in-out;
}
@-webkit-keyframes slideIn {
	0%       {opacity: 0;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
}
@-moz-keyframes slideIn {
	0%      {opacity: 0;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
}
@keyframes slideIn {
	0%      {opacity: 0;
				transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
}

/*Nav Shrinking Closed Effect*/
.nav__main_menu.close {
	opacity: 0;
	
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-webkit-animation: slideOut .3s ease-in-out;
	
	-moz-transform: translate3d(5%,0,0)scale(.97);
	-moz-animation: slideOut .3s ease-in-out;
	
	transform: translate3d(5%,0,0)scale(.97);
	animation: slideOut .3s ease-in-out;
}
@-webkit-keyframes slideOut {
	0%      {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: 0;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
}
@-moz-keyframes slideOut {
	0%      {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: 0;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
}
@keyframes slideOut {
	0%      {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: 0;
				transform: translate3d(5%,0,0)scale(.97);}
}



/* CONTENT ANNIMATION */
.main__container {
	/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 3;
}

/*Content Sliding Open Effect*/
.nav__header.open,
.main__container.open 
{   
	-webkit-transform: translate3d(240px,0,0);
	-webkit-animation: open .5s ease-in-out;
	
	-moz-transform: translate3d(240px,0,0);
	-moz-animation: open .5s ease-in-out;
	
	transform: translate3d(240px,0,0);
	animation: open .5s ease-in-out;
}
@-webkit-keyframes open {
	0%      {-webkit-transform: translate3d(0,0,0);}
	70%    {-webkit-transform: translate3d(260px,0,0);}
	100%  {-webkit-transform: translate3d(240px,0,0);}
}
@-moz-keyframes open {
	0%      {-moz-transform: translate3d(0,0,0);}
	70%    {-moz-transform: translate3d(260px,0,0);}
	100%  {-moz-transform: translate3d(240px,0,0);}
}
@keyframes open {
	0%      {transform: translate3d(0,0,0);}
	70%    {transform: translate3d(260px,0,0);}
	100%  {transform: translate3d(240px,0,0);}
}

/*Content Sliding Closed Effect*/
.nav__header.close,
.main__container.close 
{
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: close .3s ease-in-out;
	
	-moz-transform: translate3d(0,0,0);
	-moz-animation: close .3s ease-in-out;
	
	transform: translate3d(0,0,0);
	animation: close .3s ease-in-out;
}
@-webkit-keyframes close {
	0%      {-webkit-transform: translate3d(240px,0,0);}
	100%  {-webkit-transform: translate3d(0,0,0);}
}
@-moz-keyframes close {
	0%       {-moz-transform: translate3d(240px,0,0);}
	100%  {-moz-transform: translate3d(0,0,0);}
}
@keyframes close {
	0%       {transform: translate3d(240px,0,0);}
	100%  {transform: translate3d(0,0,0);}
}

}
