.post__container {
  &> * + * {
    margin-block-start: 3.5rem;
  }

  hr {
    margin: 2rem 1rem 1rem 2rem;
  }

  .post__title {
    font-size: var(--font-size-xl);
  }

  .post__description {
    font-family: var(--serifed-font-family);
    margin-bottom: 1.5rem;
  }

  .post__meta {
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
  }

}