{{ define "main" }}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}
<div class="mw8 center ph3 pv4">
  <div class="col-lg-9 posts__container">
    <h1>{{ .Title }}</h1>
    {{ $paginator := .Paginate (.Data.Pages) -}}
    {{ range $paginator.Pages -}}
    <article>
      <img src="{{.Params.image}}" />

      <h2>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      <p>
        {{ .Description }}
      </p>
      
    </article>
    {{ end -}}
    {{ template "_internal/pagination.html" . -}}
  </div>
</div>
{{ end }}
