body {
  font-size: 16px;
  font-size: calc(16px + (18 - 16)*(100vw - 80vw)/(1200 - 320));
  position: relative;

  &::before {
    content: '';
    right: 0;
    background: url(/images/network-map.svg) left bottom repeat;
    background-size: cover;
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
  }

  & > * {
    position: relative;
    z-index: 3;
  }
}

.content {
  padding-bottom: 1rem;
}

.main__content_area {
  max-width: 800px;
  margin: auto;
  padding: 2em;
}

h1.logo-text {
  text-transform: uppercase;
  color: #fe4300;
  letter-spacing: .062rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 2rem 0 1rem;
}

h1    {font-size: 3.5rem;}
h2    {font-size: 2.65rem;}
h3,h4 {font-size: 2rem;}
h5,h6 {font-size: 1.5rem;}


@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-md;
  }

  .content {
    padding-bottom: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: $font-family-serif;
    margin-bottom: 1.125rem;
  }
}

// MAIN CONTENT
.main__content {
  margin: auto;
}

@include media-breakpoint-up(lg) {
  .content {
    padding-bottom: 3rem;
  }
  .main__content {
    max-width: 925px;
    padding: 1rem;
    margin: auto;
  }
}

.section {
  background: $gray-200;
  padding-bottom: 5rem;
}

.section p,
.section a {
  margin: 0;
  text-align: left;
}

.section svg {
  display: inline-block;
  vertical-align: text-top;
}

.monospace {
  font-family: $font-family-code;
}
